.input-style {
    margin-top: -5px;
    width: 250px;
}

.formItem-style {
    margin-bottom: 15px;
}

.contenedor-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    width: 100%;
    margin-left: 11px;
}

.input-style {
    margin-bottom: 5px;
}

.btn-guardar {
    width: 100%;
    font-weight: 500; 
    margin-top: 10px;
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-input-affix-wrapper >input.ant-input {
    text-align: end;
}
