/*Modal*/
.cliente-modal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; 
  padding-right: 10px;
}

.ant-modal-footer {
  margin-top: 20px !important;
}

.titulo-modal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif; 
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
}

.card-row {
  justify-content: space-between;
  height: 150px;
} 

.div-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 200px;
  height: 70px;
}

.total {
  font-weight: 800;
  font-size: x-large;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; 
}

.descripcion {
  font-weight: 800;
  font-size: 14px;
  margin-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #56b43c;
}

.descripcion-porcentual {
  font-weight: 800;
  font-size: 14px;
  margin-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin-left: 5px;
}

.contenedor-total-descripcion {
  display: flex; 
  flex-direction: row; 
}

.divider-style {
  margin-top: 10px;
  margin-bottom: 10px; 
} 

/*Iconos de tabla*/
.icon-color{
  color: #56b43c;
}
.icon-color:hover{
  color: #78c25f;
}

.btn-contenedor {
  display: flex;
  gap: 8px;
}

/*Botones*/
.btn-flat {
  border-radius: 0px;
  font-weight: 500;
}

.div-boton{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}



/*Boton cerrar drawer agregar y editar*/
.drawer-close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

/*Columna '...' o 'actions' de tabla*/
.align-eye {
  margin-right: 17.9px;
}

/*Color sorter/icono asc-desc*/
.ant-table-column-sorter-up.active {
  color: #00B33C !important;
}

.ant-table-column-sorter-down.active {
  color: #00B33C !important;
}

/*Buscador Cliente*/
.btn-buscador {
  width: 90px;
  border-radius: 2px;
  background-color: #00B33C;
}
.btn-buscador:hover{
  background-color: #78c25f !important;
}

.btn-reset{
  width: 90px;
  border-radius: 2px;
}

.btn-reset:hover {
  color: #00B33C !important;
  background-color: transparent !important;
  border-color: #00B33C !important;
}

.input-buscador {
  width: 188px;
  margin-bottom: 8px; 
  display: block; 
  border-radius: 2px;
}

.input-buscador:hover {
  border-color: #00B33C;
}

.input-buscador:focus {
  border-color: #00B33C;
}

.search-icon:hover {
  color: #00B33C !important;
}

.ant-table-wrapper .ant-table-filter-trigger.active {
  color: #00B33C !important;
}

/*Titulo del modulo*/
.titulo-modulo {
  font-size: 14px;
  font-weight: 700;
  color: #605d5f !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding-left: 8px;
}